{% extends 'autenticacao_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %} Tela de Login {% endblock %}

{% block content %}
<main class="bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        {% if not user.is_authenticated %}

                        <div class="card-body my-5 border rounded bg-light p-3">
                            <div class="m-3">
                                <span class="fw-bold fs-2 text-primary">Login</span>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <form method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                <p class="form-label mt-3 ">Usuário ou E-mail</p>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="username"
                                           placeholder="name@example.com" value="{{username}}" name="username">
                                    <label for="username">Digite aqui seu e-mail</label>
                                </div>

                                <p class="form-label mt-3">Senha</p>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Password" value="{{password}}" name="password">
                                    <label for="password">Digite aqui sua senha</label>
                                </div>

                                <div class="my-3 text-end">
                                    <a class="btn" href="{% url 'password_reset' %}">
                                            <span class="text-success fw-bold">
                                                Esqueceu sua senha?
                                            </span>
                                    </a>
                                </div>

                                <div class="d-grid mt-2">
                                    <button class="btn btn-success" type="submit">
                                        Entrar
                                    </button>
                                </div>

                                <div class="d-grid mt-2">
                                    <a href="{% provider_login_url 'github' %}" class="btn btn-dark" type="button">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>

                                <div class="d-grid mt-2">
                                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger" type="button">
                                        <i class="fa-brands fa-google"></i>
                                    </a>
                                </div>

                                <div class="d-grid mt-2">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa-brands fa-facebook"></i>
                                    </button>
                                </div>

                                <div class="my-2 text-center">
                                    <a href="{% url 'criar_conta' %}" class="btn text-secondary fw-bold">
                                        Criar conta
                                    </a>
                                </div>

                            </form>
                        </div>

                        {% else %}

                        <div class="card my-5">
                            <div class="card-header p-5">
                                <h3 class="text-success"> {{ user.username }}, você já está logado no sistema. </h3>
                                <p class="h5 text-center text-primary">Deseja realmente sair?</p>
                            </div>

                            <div class="card-body d-flex justify-content-center">
                                <button type="button" class="btn btn-danger me-2"
                                        hx-get="autenticacao/processa_logout"
                                        hx-trigger="click"
                                        hx-target="body"
                                >
                                    Sim
                                </button>

                                <button type="button" class="btn btn-primary me-2"
                                        hx-get="autenticacao/processa_redirect_home"
                                        hx-trigger="click"
                                        hx-target="body"
                                        hx-swap="outerHTML"
                                        hx-push-url="true"
                                >
                                    Não
                                </button>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}