{% load static %}

<div class="card vh-75 vw-100">
    {% if questao.imagem %}
    <img src="{{ questao.imagem.url }}" class="card-img-top img-quiz" alt="Eygon">
    {% else %}
    <img src="{% static 'blog/eygon.jpg' %}" class="card-img-top img-quiz" alt="Eygon">
    {% endif %}

    <p class="mt-1 pt-3 ps-3 fs-5">
        {{ questao.enunciado }}
    </p>


    <form method="POST" class="mt-0" action="{% url 'resposta' %}">
        {% csrf_token %}
        <div class="card-body ">
            <div class="form-check">
                <ul class="list-group list-group-flush">
                    {% for alternativa in questao.alternativa_set.all %}
                    <div class="list-group-item">
                        <input class="form-check-input"
                               type="radio"
                               name="resposta"
                               value="{{ alternativa.isCorreta }}"
                               id="id_{{alternativa.id}}">

                        <label class="form-check-label mb-3 fs-5" for="id_{{alternativa.id}}">
                            Alternativa {{alternativa.texto}}
                        </label>
                    </div>
                    {% endfor %}
                </ul>
                <button class="d-grid btn btn-primary mt-2 col-12"
                        hx-post="{% url 'resposta' %}"
                        hx-trigger="click"
                        hx-target="#msg_feedback">
                    Responder
                </button>
            </div>
        </div>
    </form>

    <div class="card-footer footer-bottom bg-white border-0">
        <div class="text fs-5 fw-bold">
            <div class="text-center" id="msg_feedback"></div>
        </div>
    </div>

</div>