{% extends 'blog_base.html' %}
{% load static %}

{% block title %} Academia Python {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-success text-center" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="col-xl-8">
    <div class="row">
        <div class="col-lg-8 d-flex">
            {% include "fragments/card_base.html" with post=posts.0 tamanho="vh-75 vw-100" %}
        </div>

        <div class="col-lg-4 d-none d-lg-flex" hx-get="quiz/" hx-trigger="load">
            {% include 'quiz/quiz.html' %}
        </div>
    </div>

    <hr class="my-4">

    <div class="container bg-dark py-3 d-flex justify-content-center rounded">
        <h1 class="text-info">Posts recentes</h1>
    </div>

    <hr class="my-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in posts|slice:"1:5" %}
        <div class="col d-flex">
                {% include "fragments/card_base.html" with post=post tamanho="vh-75 vw-100" imagem="img-350" %}
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'fragments/footer.html' %}
{% endblock %}